# Environment variables
.env

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
.venv/

# IDE and editor files
.cursor/
.vscode/
.idea/

# Git directory
.git/

# Logs
*.log

# Database files
*.db
*.sqlite
*.sqlite3

# Temporary files
*.tmp
*.temp
*~

# Images directory
images/
data/chats/*

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/
.coverage
htmlcov/
*.cover

# gcp
gcp-oauth.keys.json
mcp-google-calendar-token.json

# data
data/

# other code
src/displayer/media/*