# This workflow will install dependencies and run tests

name: Test

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Cache Poetry Dependencies
        id: cached-poetry-dependencies
        uses: actions/cache@v2
        with:
          path: | 
            ~/.cache/pypoetry
            ~/.virtualenvs
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/pyproject.toml') }}

      - name: Install Dependencies
        run: poetry install --with dev --no-interaction
         
      - name: Run Tests
        run: | 
          poetry run pytest
